@model ShoppingCartViewModel


@using Microsoft.EntityFrameworkCore.SqlServer;
@using System.Data;
@using Microsoft.Data.SqlClient;

<h3 class="my-5">
    Shopping cart
</h3>

<div class="row gx-3">
    <div class="col-8">
        @{
            var list = Model.ShoppingCart.ShoppingCartItems;
            Pie pie = new Pie();
            ShoppingCartItem shoppingCartItem = new ShoppingCartItem();

            ConfigurationManager configurationManager = new ConfigurationManager();
            using(SqlConnection conn = new SqlConnection(configurationManager.GetConnectionString("PieShopDbContextConnection")))
            {
                string query = "INSERT INTO ASpNetUsers(ImageThumbnailUrl, PieName, PieAmount, PieShortDescription, PiePrice) VALUES (@ImageThumbnailUrl, @PieName, @PieAmount, @PieShortDescription, @PiePrice)";
                conn.Open();
                SqlCommand cmd = new SqlCommand(query, conn);
                cmd.CommandType = CommandType.StoredProcedure;
                foreach(var line in list)
                {
                    cmd.Parameters.AddWithValue("@ImageThumbnailUrl", line.Pie.ImageThumbnailUrl);
                    cmd.Parameters.AddWithValue("@PieName", line.Pie.Name);
                    cmd.Parameters.AddWithValue("@PieAmount", line.Amount);
                    cmd.Parameters.AddWithValue("@PieShortDescription", line.Pie.ShortDescription);
                    cmd.Parameters.AddWithValue("@PiePrice", line.Pie.Price.ToString("c"));
                    cmd.ExecuteNonQuery();
                    
                }

                conn.Close();
                
            }
            
        }


        @foreach (var line in list)
        {
            <div class="card shopping-cart-card mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <img src="@line.Pie.ImageThumbnailUrl" class="img-fluid rounded-start p-2" alt="@line.Pie.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-text">@line.Amount x @line.Pie.Name</h5>
                            <div class="d-flex justify-content-between">
                                <h6>@line.Pie.ShortDescription</h6>
                                <h2>@line.Pie.Price.ToString("c")</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="card shopping-cart-card p-3">
            <div class="row">
                <h4 class="col">Total:</h4>
                <h4 class="col text-end">@Model.ShoopingCartTotal.ToString()</h4>
            </div>
            <hr />
            <div class="text-center d-grid">
            </div>
        </div>
    </div>
</div>
